ion-content {
  --padding-start: 10%;
  --padding-end: 10%;

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 50%;
  }

  form {
    margin-top: 10%
  }
}

.input-group {
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
